*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  color: $primary-dark;
  font-family: $body-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-dark;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
