// Colors
$primary-dark: #455a64;
$primary-light: #b0bec5;
$secondary-dark: #00796b;
$secondary-light: #80cbc4;
$white: #fff;
$black: #000;

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

// Typography
$body-font-family: "Poppins", sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$base-line-height: 1.5;
